{% extends 'base-content-view.html' %}
  {% block title %} Reservas {% endblock %}

  {% block content_header %}
        <h1>Reserva {{ reserva.get_codigo() }}</h1>
        <p>Reserva feita por <b>{{ usuario.get_nome() }}</b></p>
        <p><b>Sala:</b> {{ sala.nome_sala() }}</p>
        <p><b>Tipo da sala:</b> {{ sala.tipo_sala() }}</p>
        <p><b>Descrição da sala:</b> {{ sala.descricao() }}</p>
        <p><b>Início:</b> {{ reserva.get_datetime_start() }}</p>
        <p><b>Fim:</b> {{ reserva.get_datetime_en() }}</p>
        <p><b>Duração:</b> {{ reserva.duracao() }}</p>

 {% endblock %}

  {% block content %}
    <div class="col">
          <div class="col-md-6 mb-4">

            <h3>Gerar Comprovante</h3>
            <a href="" class="btn btn-dark">Gerar Comprovante</a>
          </div>
          <div class="col-md-6 mb-4">
            <h3>Cancelar Reserva</h3>
            <p>Você pode cancelar a reserva até 12 horas antes do início da reserva.</p>
            <form action="{{ url_for('cancelar_reserva', id_reserva=reserva) }}" method="post">
              <button type="submit" class="btn btn-dark">Cancelar Reserva</button>
            </form>
          </div>
    </div>
 {% endblock %}