{% extends 'base-content-view.html' %}
  {% block title %} Lista de Salas {% endblock %}

  {% block content_header %}
        <h1>Lista de Salas</h1>
 {% endblock %}

  {% block content %}
    <div class="col">
      <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Ativa</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for sala in salas %}
                <tr>
                  <td>{{ sala.get_codigo() }}</td>
                  <td>{{ sala.tipo_sala() }}</td>
                  <td>{{ sala.get_descricao() }}</td>
                  <td>{{ sala.get_capacidade() }}</td>
                  <td>{{ "SIM" if sala.get_ativo() else "NÃO" }} </td>
                  <td>
                    <form action="">
                      <button class="btn btn-sm btn-dark" type="submit" formaction="/cadastrar-sala?tipo={{ sala.get_tipo() }}&capacidade={{ sala.get_capacidade() }}&descricao={{ sala.get_descricao() }}">Editar</button>
                      <button class="btn btn-sm btn-dark" type="submit" formaction="{{url_for("desativar_sala", sala_id=sala.get_codigo())}}">Desativar</button>
                      <button class="btn btn-sm btn-dark" type="submit" formaction="/listar-salas">Excluir</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if salas == [] %}
            <h2> Nada aqui ainda</h2>
          {% endif %}
      </div>
    </div>
 {% endblock %}