{% extends 'base-content-form.html' %}
  {% block title %} Reservas {% endblock %}

  {% block content_header %}
        <h1>Reservar Sala</h1>
        <p>Utilize o formulário abaixo para fazer uma reserva</p>
 {% endblock %}

  {% block content %}
      <form action="{{ url_for('reservar_sala') }}" method="POST">
        <div class="mb-3">
          <label for="sala" class="form-label">Sala</label>
          <select class="form-select" id="sala" name="sala">
            {% for sala in salas %}
              <option value="{{ sala.get_codigo() }}">{{ sala.nome_sala() }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="inicio" class="form-label">Data e Hora Início</label>
          <input type="datetime-local" class="form-control" name="inicio" id="inicio">
        </div>
        <div class="mb-3">
          <label for="fim" class="form-label">Data e Hora Fim</label>
          <input type="datetime-local" class="form-control" name="fim" id="fim">
        </div>
        <button type="submit" class="btn btn-dark">Reservar</button>
      </form>
 {% endblock %}