{% extends 'base-content-view.html' %}
  {% block title %} Reservas {% endblock %}

  {% block content_header %}
        <h1>Reservas</h1>
 {% endblock %}

  {% block content %}
    <form action="{{ url_for('reservas') }}" method="POST" class="row mt-4">
      <div class="col">
        <input type="datetime-local" class="form-control" placeholder="Start" aria-label="Start" name="start">
      </div>
      <div class="col">
        <input type="datetime-local" class="form-control" placeholder="End" aria-label="End" name="end">
      </div>
      <div class="col">
        <button class="btn btn-dark" type="submit">Filtrar</button>
      </div>
    </form>
    <div class="table-responsive mt-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sala</th>
              <th scope="col">Duração</th>
              <th scope="col">Início</th>
              <th scope="col">Fim</th>
              <th scope="col">Faltam</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for reserva in reservas %}
              <tr>
                <td>{{ reserva.nome_sala() }}</td>
                <td>{{ reserva.duracao() }}</td>
                <td>{{ reserva.get_datetime_start() }}</td>
                <td>{{ reserva.get_datetime_end() }}</td>
                <td>{{ (reserva.tempo_restante().days * -1) }} dia(s)</td>
                <td>
                  <a class="btn btn-dark" href="{{ url_for('detalhe_reserva', reserva_id=reserva.get_codigo()) }}">Mais detalhes</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not reservas %}
          <h3 class="mt-4">Nada encontrado</h3>
        {% endif %}
    </div>
 {% endblock %}